<div id="container">
	<div id="top">
		<button class="large" (click)="refresh()">Refresh</button>
		<h1>C3 Taxonomy to XMI exporter</h1>
		<p>
			Select taxonomy elements and categories and press "Export".
			User "Refresh" button to reload lists on page.
		</p>
		<button class="large" (click)="export()">Export</button>
	</div>

	<div id="center">
		<div id="subjects">
			<h2>Select elements:</h2>
			<tree-view [subjects]="subjects"></tree-view>	
		</div>
		<div id="categories">
			<h2>Select categories:</h2>
			<list-view [categories]="categories" (onChange)="categoriesChanged($event)"></list-view>
		</div>
	</div>

</div>
